html {
  font-size: 1em;
}

body {
  background-image: url('../img/black-Linen.png');
  background-repeat: repeat;
  background-size:;
  background-position: center;
  background-attachment: fixed;
  font-family: Baskerville, "Baskerville Old Face", "Goudy Old Style", Garamond, "Times New Roman", serif;
  color: #999;
}

h1, h2, h3, h4 {
font-family: Baskerville, "Baskerville Old Face", "Goudy Old Style", Garamond, "Times New Roman", serif;
}

h1 {
  font-size: 3.5em;
  font-weight: 100;
  font-variant: small-caps;
  letter-spacing: .1em;
  border-bottom: solid 2px #ccc;
  padding-bottom: 10px;
  margin: 0 0 17px 0;
  color: #ccc;
}

h2 {
  margin-bottom: 20px;
}

.navbar-inverse {
  background-color: #222;
}

.nav {
  margin-top: 0px;
}

.navbar-inverse .navbar-nav > li > a {
  font-size: 1.2em;
  color: #999;
}

.bottom {
  position: absolute;
  width: 95%;
  height: 100%;
  border: solid .15em #999;
}

.top {
  width: 100%;
  border: solid .15em #999;
}


.me img {
  -webkit-transition: opacity 2s ease-in-out;
  -moz-transition: opacity 2s ease-in-out;
  -o-transition: opacity 2s ease-in-out;
}

.bottom:hover {
  opacity: 0;
}

.intro {
  margin-bottom: 22px;
  font-size: 1.15em;
}

.icon {
  width: 90%;
  border: solid 2px #999;
  box-shadow: 0 0 .15em #fff;
  margin-right: 10px;
}

.logo {
  padding-left: 0px;
}

.logo:hover {
  color: #fff;
}

.well {
  margin-top: 50px;
  background-color: #222;
  color: #ccc;
  font-family: Baskerville, "Baskerville Old Face", "Goudy Old Style", Garamond, "Times New Roman", serif;
  font-variant: small-caps;
  font-size: 1.5em;
  letter-spacing: .1em;
  border: solid .15em #999;

}

.btn-default {
  font-size: 1.2em;
  color: #666;
}

.btn-default:hover {
  background-color: #999;
  color: #fff;
  border: solid 2px #ccc;
  box-shadow: -.25em -.25em .2em #fff;
  }

.abridged {
  margin-bottom: 75px;
}



.projects:hover {
  background-color: rgba(75, 75, 75, .3);
  border-radius: 10px;
  padding-bottom: 20px;
}

.projects {
  background-color: rgba(0, 0, 0, 0);
  margin-top: 40px;
  padding-bottom: 20px;
  margin-bottom: 40px;
}

.projects h2 {
  margin-bottom: 40px;
  padding-left: 15px;
}

.col-lg-4 p {
  font-size: 1.15em;
}

.col-md-8 p {
  font-size: 1.25em;
}

p {
  font-weight: 300;
  letter-spacing: .05em;
  line-height: 1.45em;
}

@media screen and (max-width: 992px) {
  .resources,
  .contacts {
    max-width: 50%;
    margin-right: 0px;
    float: left;
  }

  .logo {
    max-width: 30%;
    display: inline-block;
  }
}

@media screen and (max-width: 768px) {
.logo {
  max-width: 40%;
}
}

@media screen and (max-width: 1200px) {
  .bottom {
  position: absolute;
  width: 97%;
  border: solid .15em #999;
}
}

@media screen and (max-width: 1000px) {
  .bottom {
  position: absolute;
  width: 96%;
  border: solid .15em #999;
}
}

@media screen and (max-width: 768px) {
  .bottom {
  position: absolute;
  width: 96%;
  border: solid .15em #999;
}
}

@media screen and (max-width: 400px) {
  .bottom {
  position: absolute;
  width: 93%;
  border: solid .15em #999;
}
}













