body {
	background: url('img/background.jpg') repeat;
	margin: 0 20px 0 20px;
}

h1 {
	text-align: center;
	padding-left: 150px;
	color: blue;
	font-size: 3em;
}

ul {
	float: right;
	list-style: none;
	border-bottom: solid darkred 2px;
	padding-right: 150px

}

ul li {
	float: left;
	padding: 10px;
}

h2 {
	text-align: center;
	padding-left: 150px;
}

#about_me {
	padding-top: 100px;
	color: green;
}

#me img {
	border: solid black 5px;
	margin: 0 0 0 250px; 
}

a {
	text-decoration: none;
}

a:hover {
	color: red;
}

a:active {
	font-weight: bold;
	color: darkblue;
	background-color: black;


