{% extends layout %}

{% block title %}
  Portfolio - Technical Writing
{% endblock %}

{% block header %}
  <div class="header">
    <h1 class="header_name">Travis Keron <span class="header_title"> / Technical Writing</span></h1>
  </div>
{% endblock %}

{% block content %}
  <div class="row projects clearfix">
    <h2><a href="http://academic.evergreen.edu/w/warway24/"><cite>Defending Wild Washington</cite></a></h2>
    <div class="col-md-4 project_img">
      <img src="/img/defending.jpg">
    </div>
    <div class="col-md-8">
      <p><cite>Defending Wild Washington: A Citizen's Action Guide</cite> was an ambitious project I joined for my junior year at The Evergreen State College. Seventeen students and two professors had a school-year to conduct and analyze in depth research and collaborate to write an extensive overview of the conservation movement in Washington State. My efforts included co-authoring Chapter 2: A History of Washington's Landscape Transformations, and Chapter 4: Riding the Wave. In chapter 2, I detailed the environmental changes Euro-Americans made to Washington's landscape and in chapter 4, I gave an account of the (then) current socioeconomic conditions of the state and how they could effect the conservation movement.</p>
    </div>
  </div>
{% endblock %}

