{% extends layout %}

{% block content %}
<div class="row">
  <div class="col-lg-6 me">
    <img class="img-responsive img-rounded bottom" src="img/travis.jpg">
    <img class="img-responsive img-rounded top" src="img/me1.png"><!-- take out img-rounded if you don't want the rounded corners on the image -->
  </div>
  <div class="col-lg-6 intro">
    <h1 id="travis_keron">Travis Keron</h1>
    <div>
      <p>Life is a conglomeration of experiences, each adventure a new lesson that helps define you. I've experienced life in many different forms: as a published author, a customer service specialist, an educator and a skydiver. Through each new challenge, I have learned to adapt and push myself beyond my comfort zone to excel in a variety of different fields.</p>
      <p>The next adventure I have embarked on is becoming a web developer. Programming seems to be a balanced blend of deduction and creation; an ever-growing field that will help feed my curiosity and passion to excel, while producing tangible products to showcase.</p>
    </div>
    <div class="row">
      <div class="col-md-3 text-center">
        <div class="logo">
          <a href="https://github.com/dechulion">
            <p>Github</p>
            <img src="img/git.jpg" alt="Github icon" class="icon">
          </a>
        </div>
      </div>
      <div class="col-md-3 text-center">
        <div class="logo">
          <a href="http://www.linkedin.com/profile/view?id=144181136&trk=nav_responsive_tab_profile">
            <p>LinkedIn</p>
            <img src="img/linkedin.jpg" alt="Linkedin icon" class="icon">
          </a>
        </div>
      </div>
      <div class="col-md-3 text-center">
        <div class="logo">
          <a href="https://twitter.com/TravisKeron">
            <p>Twitter</p>
            <img src="img/twitter.jpg" alt="Twitter icon" class="icon">
          </a>
        </div>
      </div>
      <div class="col-md-3 text-center">
        <div class="logo">
          <a href="mailto:dechulion@yahoo.com">
            <p>Email</p>
            <img src="img/yahoo.jpg" alt="Yahoo icon" class="icon">
          </a>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-lg-12">
    <div class="well text-center">
      Aspiring Web Developer, Writer, Educator, Adventurer
    </div>
  </div>
</div>
<div class="row abridged_projects clearfix">
  <div class="col-lg-4 abridged-project-info">
    <h2><cite>Defending Wild Washington</cite></h2>
    <p><cite>Defending Wild Washington</cite> was a collaborative effort written by seventeen students and two professors of The Evergreen State College. The book details both the environmental history of Washington State, and the citizens' efforts to protect the state's natural beauty. It then goes on to discuss what can still be done to help keep the Evergreen State green.</p>
    <a class="more_info" href="/index.php/projects">More Info . . .</a>
  </div>
  <div class="col-lg-4 abridged-project-info">
    <h2>HTML & CSS</h2>
    <p>As my final evaluation in HTML5 and CSS3, I was given a web page to completely recreate. The web page came from the technical publication ... I used a basic bootstrap framework for the html while all of the css is my own.</p>
    <a class="more_info" href="/index.php/projects">More Info . . .</a>
  </div>
  <div class="col-lg-4 abridged-project-info">
    <h2>PHP, Silex & Twig</h2>
    <p>For work with PHP I created a website for my wife's massage business. To save time and resources I downloaded a html and css template so I could focus on the server side coding. I used silex, a php framework, for routing and twig as a layout template to create a dynamic website with multiple pages including a contact form where clients can send messages.</p>
    <a class="more_info" href="/index.php/projects">More Info . . .</a>
  </div>
</div>
{% endblock %}



